.navbar {
    background: linear-gradient(to bottom, #000000, #00000000);

}

.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
}

.quite {
    font-family: "Permanent Marker", serif;
    font-weight: 300;
}

.carousel-item {
    background-size: cover;
}

.lat {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 100px;
}

.section-3-h2 {
    padding-top: 60px;
    padding-bottom: 60px;

}

.section4 {
    background-color: #1A1A1A;
}

.p12 {
    text-align: justify;
}

@media only screen and (max-width: 770px) {
    .h12 {
        font-size: 18px;
    }

    .p12 {
        font-size: 12px;
    }

    .carousel-caption {
        width: 300px;
        top: 25%;
        margin-left: 20px;
        text-align: center;
    }

    .navbar-nav {
        background-color: #000000;
    }
}
.carousel-caption h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
}

.carousel-caption {
    margin-bottom: 250px;
}

.carousel-item {
    background-size: cover;

}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.section1 {
    padding: 100px;
}


.section3 {
    background-color: #F8F2E7;
}

.card {
    border-radius: none;
}

.button1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 80px;
    border: 1px solid black;
}

.footer {
    background-color: #000000;
}

.text {
    border-radius: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: none;
    outline: none;

}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(26, 90, 0);
    border-radius: 10px;
}

p {
    font-size: 16px;
}

body {
    overflow-x: hidden;
}

.navbar-toggler {
    background-color: #ffffff67;
}

::selection {
    background-color: rgb(0, 95, 0);
}

.card1 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
